body {
    margin: 0;
    font-family: 'Poppins', sans-serif;
    overflow-x: hidden;
}

.contact {
    margin-top: 50px;
}

.contact h3 {
    font-size: 34px;
    margin-bottom: 20px;
}

.contact p {
    font-size: 18px;
    font-weight: 300;
}

.read {
    font-size: 18px;
    margin-top: 40px;
    padding: 10px 80px;
}

form {
    margin: 50px 0;
}

label {
    font-weight: 500;
    font-size: 20px;
    margin-top: 10px;
}

footer {
    background-color: #6C757D;
    padding: 1rem;
    margin-top: 40px;
}

footer h2 {
    color: #fff;
    font-size: 24px;
    font-weight: 500;
    margin-bottom: 20px;
}

.socials img {
    padding: 10px;
}

footer p {
    margin-top: 20px;
    margin-bottom: 0 !important;
    color: #fff;
}

@media (max-width: 425px) {
    .contact {
        margin-top: 30px;
    }

    .contact h3 {
        font-size: 30px;
        margin-bottom: 15px;
    }

    .contact p {
        font-size: 16px;
        font-weight: 300;
    }

    .read {
        font-size: 16px;
        margin-top: 30px;
        width: 100%;
    }

    form {
        margin: 40px 0;
    }

    label {
        font-weight: 500;
        font-size: 18px;
        margin-top: 10px;
    }
}
