{% extends "magazine/base.html" %}
{% block content %}
        <main class="container">
        <div class="about">
            <h3>About Us</h3>
            <p>Fusce mauris dolor, pretium nec augue a, lacinia suscipit libero. Pellentesque erat sapien, fermentum at lectus vel, imperdiet interdum ligula. Ut in commodo erat. Vestibulum dignissim euismod risus ac fermentum. Curabitur eu feugiat mauris, lacinia tincidunt nisl. Integer turpis sem, tristique a ipsum ac, ullamcorper posuere orci. Lorem ipsum dolor sit amet, consectetur adipiscing elit. In commodo eget dui non consequat. Mauris magna enim, eleifend ac justo at, tristique consectetur magna. Aliquam eget lacus vitae leo elementum volutpat. Etiam vitae facilisis ligula. Maecenas congue sagittis hendrerit. Integer et facilisis neque. Proin tristique leo id dolor egestas, non pellentesque lorem finibus. Pellentesque ut odio neque. Donec malesuada lectus nec lacus hendrerit aliquam.</p>
        </div>

        <div class="boxes">
            <div class="row">
                <div class="col-lg-4 col-md-12">
                    <div class="card bg-light mb-3">
                        <div class="card-header">Posts</div>
                        <div class="card-body">
                            <p class="card-text">Suspendisse in massa at ligula elementum pretium sit amet eget turpis. Sed rutrum aliquet dignissim. Phasellus mi neque, vestibulum a ullamcorper consequat, fermentum vel dui. Suspendisse potenti. Nullam ultrices lacus at metus tincidunt pulvinar id ac justo. Praesent varius vestibulum ligula, ut molestie odio tempor eu. Pellentesque dolor lorem, auctor eget finibus vel, tristique nec lectus. Pellentesque tincidunt, ante non dignissim lobortis, risus turpis dictum felis, a porttitor erat quam eu orci.</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-12">
                    <div class="card bg-light mb-3">
                        <div class="card-header">Designs</div>
                        <div class="card-body">
                            <p class="card-text">Suspendisse in massa at ligula elementum pretium sit amet eget turpis. Sed rutrum aliquet dignissim. Phasellus mi neque, vestibulum a ullamcorper consequat, fermentum vel dui. Suspendisse potenti. Nullam ultrices lacus at metus tincidunt pulvinar id ac justo. Praesent varius vestibulum ligula, ut molestie odio tempor eu. Pellentesque dolor lorem, auctor eget finibus vel, tristique nec lectus. Pellentesque tincidunt, ante non dignissim lobortis, risus turpis dictum felis, a porttitor erat quam eu orci.</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-12">
                    <div class="card bg-light mb-3">
                        <div class="card-header">Accessibility</div>
                        <div class="card-body">
                            <p class="card-text">Suspendisse in massa at ligula elementum pretium sit amet eget turpis. Sed rutrum aliquet dignissim. Phasellus mi neque, vestibulum a ullamcorper consequat, fermentum vel dui. Suspendisse potenti. Nullam ultrices lacus at metus tincidunt pulvinar id ac justo. Praesent varius vestibulum ligula, ut molestie odio tempor eu. Pellentesque dolor lorem, auctor eget finibus vel, tristique nec lectus. Pellentesque tincidunt, ante non dignissim lobortis, risus turpis dictum felis, a porttitor erat quam eu orci.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </main>
{% endblock content %}
