{% extends "magazine/base.html" %}
{% load static %}
{% block content %}
        <main class="main">
            <div class="container">
                <section class="news">
                    <div class="row">
                    <div class="col-12">
                        <div class="section-tittle mb-35">
                            <h2>Entertainment News</h2>
                        </div>
                    </div>
                </div>
                    <div class="content">
                        {% for article in articles %}
                        <div class="row music">
                            <div class="col-md-6 col-sm-12">
                                <div class="music-image">
                                    <img class="music-image" src="{{ article.urlToImage }}">
                                </div>
                            </div>
                             <div class="col-md-6 col-sm-12">
                                <div class="music-text">
                                    <a href="{{ article.url }}" target="_blank" class="music-link"><h3>{{article.title}}</h3></a>
                                    <p>{{ article.description }} <a href="{{ article.url }}" target="_blank"> Cick here to see full article</a></p>
                                </div>
                            </div>
                        </div>
                        {% endfor %}
                    </div>
                        <a href="#" class="btn btn-outline-info float-right">Show all</a>

                </section>

                <section class="music">
                    <div class="row">
                    <div class="col-12">
                        <div class="section-tittle mb-35">
                            <h2>Music</h2>
                        </div>
                    </div>
                </div>
                    <div class="content">
                        {% for article in music %}
                        <div class="row music">
                            <div class="col-md-6 col-sm-12">
                                <div class="music-image">
                                    <img class="music-image" src="{{ article.urlToImage }}">
                                </div>
                            </div>
                             <div class="col-md-6 col-sm-12">
                                <div class="music-text">
                                    <a href="{{ article.url }}" target="_blank" class="music-link"><h3>{{article.title}}</h3></a>
                                    <p>{{ article.description }} <a href="{{ article.url }}" target="_blank"> Cick here to see full article</a></p>
                                </div>
                            </div>
                        </div>
                        {% endfor %}
                    </div>
                        <a href="#" class="btn btn-outline-info float-right">Show all</a>
                </section>

                <section class="fashiion" id="fashion">
                    <div class="row">
                    <div class="col-12">
                        <div class="section-tittle mb-35">
                            <h2>Fashion</h2>
                        </div>
                    </div>
                </div>
                    <div class="content">
                        {% for article in posts %}
                        <div class="row music">
                            <div class="col-md-6 col-sm-12">
                                <div class="music-image">
                                    <img class="music-image" src="{{ article.image.url }}">
                                </div>
                            </div>
                             <div class="col-md-6 col-sm-12">
                                <div class="music-text">
                                    <a href="{{ article.url }}" target="_blank" class="music-link"><h3>{{article.title}}</h3></a>
                                    <p>{{ article.article }} <a href="{{ article.url }}" target="_blank"> Cick here to see full article</a></p>
                                </div>
                            </div>
                        </div>
                        {% endfor %}
                    </div>
                        <a href="#" class="btn btn-outline-info float-right">Show all</a>

                </section>

            </div>
        </main>
{% endblock content %}