{% extends "blog/base.html" %}
{% load custom_filter_tags %}
{% block content %}
<section class="botoom-section">
    <div class="row">
        <div class="col-12">
            <div class="section-tittle mb-35">
                <h1>Magazine Blog</h1>
            </div>
        </div>
    </div>
    <div class="content">
        {% for object in object_list %}
        <div class="row article-row border-bottom">
            <div class="col-md-6 col-sm-12">
                <div class="article-image">
                    {% if object.image %}
                    <img class="article-image" src="{{ object.image.url }}">
                    {% endif %}
                </div>
            </div>
            <div class="col-md-6 col-sm-12 meia-body">
                 <div class="media">
         <img class="rounded-circle detail-img" src="{{ object.user.profile.image.url }}">
         <div class="media-body">
             <a href="{% url 'profile' object.user.username %}" class="text-muted username">@{{ object.user.username }}</a>
         </div>
     </div>
                <div class="article-text">
                    <a href="{% url 'blog-post' object.slug %}" class="article-header-link"><h3>{{ object.title }}</h3></a>
                    {% if object.content|length > 300 %}
                    <p>{{ object.content|shrink }}...</p>
                    {% else %}
                    <p>{{ object.content }}</p>
                    {% endif %}
                    <a href="{% url 'blog-post' object.slug %}" class="btn btn-outline-info show-all view">view post</a>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
    <div class="bottom-link-div">
        <a href="{% url 'create-post' %}" class="btn btn-info buttom-link"><i class="fas fa-plus"></i></a>
    </div>

</section>

{% endblock content %}