body {
    margin: 0;
    font-family: 'Poppins', sans-serif;
    overflow-x: hidden;
}

.account-heading {
  font-size: 2.5rem;
}

.content-section {
  background: #ffffff;
  padding: 10px 20px;
  border: 1px solid #dddddd;
  border-radius: 3px;
  margin-bottom: 20px;
}

.account-img {
  height: 125px;
  width: 125px;
  margin-right: 20px;
  margin-bottom: 16px;
}

main{
    margin-top:50px;
}

.form-box{
    position:relative;
}

.form-box input {
  border: 1px solid #eeeeee;
  border-radius: 0px;
  padding: 10px 20px;
  width: 300px;
  color: #000000;
}

.form-box .search-icon {
  position: absolute;
  top: 6px;
  right: 1px;
  padding: 7px 23px;
  cursor: pointer;
  background: #fff;
}

.search-btn{
    border:none;
    background:none;
}