.nav-bar{
    width:100%;
    height:69px;
    position:fixed;
    background-color:black;
    z-index:1;
}

.main-section{
    position:relative;
    top:69px;
}

.nav-bar .heading{
    color:white;
}

.account-heading {
  font-size: 2.5rem;
}

.content-section {
  background: #ffffff;
  padding: 10px 20px;
  border: 1px solid #dddddd;
  border-radius: 3px;
  margin-bottom: 20px;
}

.account-img {
  height: 125px;
  width: 125px;
  margin-right: 20px;
  margin-bottom: 16px;
}

